<p class="titulo">{{ titulo }}</p>
<form [formGroup]="productoForm.baseForm">
  <mat-form-field>
    <mat-label>Id</mat-label>
    <input matInput formControlName="id" [readonly]="!isCreate" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="categoria">
      <mat-option
        *ngFor="let categoria of listaCategorias"
        [value]="categoria.id"
      >
        {{ categoria.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input type="number" matInput formControlName="precio" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Stock</mat-label>
    <input type="number" matInput formControlName="stock" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fecha Ingreso</mat-label>
    <input type="date" matInput formControlName="fechaIngreso" />
  </mat-form-field>
</form>

<div>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="productoForm.baseForm.value"
    (click)="guardar()"
  >
    Guardar
  </button>

  <button mat-button color="danger" mat-dialog-close>Cerrar</button>
</div>
